<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Lesson 13. Homework 1</title>
    <meta charset="utf-8">
    <link href="../../libraries/bootstrap.css" rel="stylesheet" />
    <link href="../../libraries/bootstrap-theme.css" rel="stylesheet" />
    <script src="../../libraries/angular.js"></script>
    <style>
body{
  padding: 20px;
}
label{
  display: block;
}
#changeable{
  margin-top: 10px;
}
.width{
  width: 500px;
}
.border{
  border: 1px solid black;
}
.background{
  background-color: lightblue;
}
    </style>
    <script>
/*
Создайте три разных CSS класса, которые по-разному будут оформлять блок текста на странице.
Реализуйте возможность выбирать стиль для оформления страницы с помощью кнопок или checkbox
*/

var module = angular.module("myApp", []);

module.controller("myAppCtrl", function ($scope) {
  var styleObj = {
    width: false,
    border: false,
    background: false
  }

});

    </script>
</head>

<body ng-controller="myAppCtrl">
  <label><input type="checkbox" ng-model="styleObj.width"> Style 1 (width)</label>
  <label><input type="checkbox" ng-model="styleObj.border"> Style 2 (border)</label>
  <label><input type="checkbox" ng-model="styleObj.background"> Style 3 (background)</label>

  <div id="changeable" ng-class="styleObj">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

</body>
</html>
