<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <title>Lesson 15. Homework 2</title>
  <meta charset="utf-8">
  <script src="../../libraries/angular.js"></script>
  <link href="../../libraries/bootstrap.css" rel="stylesheet" />
  <link href="../../libraries/bootstrap-theme.css" rel="stylesheet" />
  <style>
    body {
      padding: 20px 0;
    }
  </style>
  <script>
    /*
    Задача 1 Создайте страницу с произвольным количеством блоков текста с заголовками.
    Создайте список заголовков вверху страницы. Используя сервис $anchorScroll,
    реализуйте навигацию на странице.При нажатии на заголовок в списке вверху страницы,
    страница должна быть автоматически прокручена до блока текста с соответствующим заголовком.
    */
    var module = angular.module("myApp", []);

    module.controller("myAppCtrl", function($scope, $location, $anchorScroll) {

      $scope.counter = new Array(10);
      $scope.gotoHeader = function(event, index) {
        event.preventDefault();
        $location.path('');
        $location.hash('header_' + index);
      }
    });
  </script>
</head>

<body ng-controller="myAppCtrl">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" ng-repeat="n in counter track by $index"><a href="#" ng-click="gotoHeader($event, $index+1)">Header {{$index+1}}</a>
      </li>
    </ul>

    <div ng-repeat="n in counter track by $index">
      <h2 id="header_{{$index+1}}">Header {{$index+1}}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        sExcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</body>

</html>
